/* General body styling */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #dadef9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Title section styling */
.title h1 {
    text-align: center;
    color: #333;
}

/* Questions section styling */
.questions {
    background-color: #cbd2fd;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questions h4 {
    color: #515050;
    font-size: 20px;
}

.questions img {
    width: 100%; /* Make images responsive */
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

/* Result section styling */
.result {
    background-color: #cbd2fd;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.4em;
}

.button {
    background-color: #cbd2fd;
    font-size: 20px;
    border-radius: 10%;
}

.button:hover {
    background-color: #a1aeff;
}

.number,
.color {
    font-size: 20px;
}

.title2 {
    display: none;
    text-align: center;
    color: #333;
}

.title3 {
    text-align: center;
}

.pic {
    display: none;
    width: 200px;
    height: 200px;
}